<div class="row">
  <div class="col-md-6">
    <!--
Monday, 3/29
8:00 a.m. - 12:00 a.m. - Software Carpentry PartI: Unix/Git
12:15  - 1:15  p.m. - TBD
1:30 - 2:25 - Lab: How to Use Boise State's Clusters
2:30 - 3:25 - Xarray Tutorial

Tuesday, 3/30
8:00 a.m. - 12:00 a.m.
Track 1: SWC Part II: Intro to Julia
Track 2: SWC Part II: Intro to Python
Track 3: SWC Part II: Intro to R
12:15  - 1:15  p.m. - TBD
1:30 - 2:25 - Fast Data Transfer
2:30 - 3:25 - Visualization with Paraview
3:30 - 4:25 - Data Management Planning

Wednesday 3/31
8:00 - 9:25 a.m. - Reproducible Research: Working with Containers
9:30 - 10:25 a.m. - GPU Programming: Comparing OpenACC, OpenMP and CUDA
(C/C++ and gcc experience suggested)
10:30 - 11:25 a.m. - Ask Research Computing: Drop In
12:00 to 1:00 p.m. - Poster Session
-->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Software Carpentry Part I: Unix/Git</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Lab: How to Use Boise State's Clusters</td> </tr>
      <tr> <td>14:30</td>  <td>Xarray Tutorial</td> </tr>
      <tr> <td>15:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Software Carpentry Part II: Intro to Julia/Python/R</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Fast Data Transfer</td> </tr>
      <tr> <td>14:30</td>  <td>Visualization with Paraview</td> </tr>
      <tr> <td>15:30</td>  <td>Data Management Planning</td> </tr>
      <tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Reproducible Research: Working with Containers</td> </tr>
      <tr> <td>09:30</td>  <td>GPU Programming: Comparing OpenACC, OpenMP and CUDA (C/C++ and gcc experience suggested)</td> </tr>
      <tr> <td>10:30</td>  <td>Ask Research Computing: Drop In</td> </tr>
      <tr> <td>12:00</td>  <td>Poster Session</td> </tr>
      <tr> <td>12:55</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
